
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


/*VIDEO----------------------------*/
video {
    position: absolute;
    left: 0;
    top: 0;
    height:123%;
    z-index: -1;
    scale: 100%;
  }

/*-----------------------------------*/
/*---NAVEGADOR--------------------------------*/
/*-----------------------------------*/

#nav_seleccionar{

    color: white;

    :hover{
        background-color: #07294f68;
        scale: 105%;
    }
}

/*-----------------------------------*/
/*--seccion inicio---------------------------------*/
/*-----------------------------------*/

#titulo_inicio{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    scale: 120%;
    margin-top: 15%;
    margin-left: 12%;
    
}

#img_inicio{
    margin-right: 12%;
    margin-top: 4%;
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*-----SECCION PRESENTACION------------------------------*/
/*-----------------------------------*/
#tarj_presentacion{
    background-color: #07294F;
    color: white;
    margin-top: 15%;
    padding: 5%;
    
}

#parraf_presentacion{
    margin-top: 15%;
    margin-left: 8%;
    font-family: 'Julius Sans One', sans-serif;
}

#img_presentacion{
    margin-top: 3%;
}
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/


/*-----------------------------------*/
/*-----SECCION RECORDATORIO------------------------------*/
/*-----------------------------------*/
#tarj_recordatorio2{
    
    background-color: #75AFFD;
    font-family: 'Julius Sans One', sans-serif;
    padding: 8%;
    
}


/*-----------------------------------*/
/*----SECCION CBRO POR HORA-------------------------------*/
/*-----------------------------------*/


#tarj_cobroPorHora{

  color: white;  
  background-image:url(https://cdn.pixabay.com/photo/2017/09/26/16/14/savings-2789153_1280.jpg);
  padding: 7%;
  

}
#fondo_cobroPorHora{
    background-color: #07294f9b;
    padding: 7%;
    margin: -8.3%;
}

#explic_cobroPorHora{

    margin-right: 10px;
}

#titulo_explic_cobroPorHora{
    margin-top: 50px;
}

#label_ingreso_cobroPorHora{

    margin-top: 50px;
    margin-left: 10px;

}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/




