
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


/*VIDEO----------------------------*/
video {
    position: absolute;
    left: 0;
    top: 0;
    height:123%;
    z-index: -1;
    scale: 100%;
  }

/*-----------------------------------*/
/*---NAVEGADOR--------------------------------*/
/*-----------------------------------*/

#nav_seleccionar{

    color: white;

    :hover{
        background-color: #07294f68;
        scale: 105%;
    }
}

/*-----------------------------------*/
/*--seccion inicio---------------------------------*/
/*-----------------------------------*/
#titulo_inicio{
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    scale: 120%;
    margin-top: 15%;
    margin-left: 10%;
    
}


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/


/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/




